<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="64ea5e75-65b6-4076-b213-c195405d476f"
    Publisher="CN=sfbui"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="64ea5e75-65b6-4076-b213-c195405d476f" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>SimRacingPlatform</DisplayName>
    <PublisherDisplayName>sfbui</PublisherDisplayName>
    <Logo>Assets\Icons\PackageLogo\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="SimRacingPlatform"
        Description="SimRacingPlatform"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Icons\MediumTile\Square150x150Logo.png"
        Square44x44Logo="Assets\Icons\AppIcon\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Icons\WideTile\Wide310x150Logo.png"  Square71x71Logo="Assets\Icons\SmallTile\SmallTile.png" Square310x310Logo="Assets\Icons\LargeTile\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\Icons\SplashScreen\SplashScreen.png" />
        <uap:LockScreen BadgeLogo="Assets\Icons\BadgeLogo\BadgeLogo.png" Notification="badge"/>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="simracingplatform"/>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
